.main {
  color: #E38CA6 !important;
}

.primary {
  background-color: #E38CA6 !important;
  color: #fff !important;
}

.secondary {
  background-color: #fff !important;
  border-radius: 5px;
}

.tertiary {
  color: #383838 !important;
}