.main {
  color: #00c2cb !important;
}

.primary {
  background-color: #00c2cb !important;
  color: #fff !important;
}

.secondary {
  background-color: #f1f1f1 !important;
}

.tertiary {
  color: #383838 !important;
}