.desktop-menu-item {
  color:white;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #00c2cb 50%, #383838 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
  padding: 10px;
  &:hover {
    background-position: -100% 0;
  }
}

.desktop-menu-item-selected {
  color: white;
  background-color: #383838;
  padding: 10px;
}