.desktop-menu-item {
  color:white;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #E38CA6 50%, #383838 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &:hover {
    background-position: -100% 0;
    padding-left: 20px;
  }
}

.desktop-menu-item-selected {
  color: white;
  background-color: #383838;
  padding: 10px;
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}